body {
  background-color: #73859b;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 550px;
}

#text_message {
  height: 20px;
  width: 300px;
  border: 5px solid rgb(67, 72, 92);
  background-color: #73859b;
  cursor: pointer;
  color: aliceblue;
  border-radius: 10px;
}

.button {
  height: 30px;
  width: 100px;
  background-color: rgb(53, 63, 123);
  border-radius: 10px;
  font-family: sans-serif;
  color: aliceblue;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

#chat_window {
  height: 400px;
  width: 532px;
  border: 5px solid rgb(67, 72, 92);
  background-color: #73859b;
  border-radius: 10px;
  margin-top: 15px;
  overflow-y: scroll;
  color: aliceblue;
}

#chat_messages {
  display: flex;
  flex-flow: column wrap;
  color: aliceblue;
}

.messages {
  border-radius: 10px;
  border: 1px groove #5e7eb2;
  background-color: #5e7eb2;
  padding: 10px;
  margin-bottom: 10px;
  align-self: flex-end;
  color: aliceblue;
}